.charsList {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.buttonDeadOnly {
    margin: 3%;
    background-color: red;
    color: white;
    padding: 10px;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

.buttonDeadOnly:hover {
    background-color: pink;
}